logging:

  level:

    org: ${log-framework:ERROR}

    ru:
      tchallenge: ${log:INFO}

server:

  error:
    whitelabel:
      enabled: 'false'

  port: ${port:3000}

spring:

  mail:
    host: ${mail-host:localhost}
    port: ${mail-port:25}
    username: ${mail-username:}
    password: ${mail-password:}

  main:
    banner-mode: 'off'

  mvc:
    throw-exception-if-no-handler-found: 'true'

  resources:
    add-mappings: 'false'

tchallenge:

  security:

    token:

      header: 'tchallenge-security-token-id'

      predefined:

        enabled: true

        candidate:
          enabled: true
          id: 'hardcoded-token-candidate'

        employee:
          enabled: true
          id: 'hardcoded-token-employee'
